.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar */
.navbar {
  background-color: #280f88;
  color: #9784e2;
  text-transform: uppercase;
}

.button_search {
  background-color: #9784e2;
  color: #000;
}

/* Poster */
.poster {
  border-radius: 8px;
  width: 300px;
}

/* .poster {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
} */

/* .poster__item {
  background: var(--clr-accent);
  overflow: hidden;
} */

.poster__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250 ms linear;
  /* width: 260px;
  height: 200px; */
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  object-fit: inherit;
  margin: 0.5rem 1rem;
}

.poster__item:focus {
  position: relative;
  z-index: 2;
  border-radius: 8px;
}

.poster__img:hover,
.poster__item:focus .poster__img {
  transform: scale(1.2);
  opacity: 0.75;
  border-radius: 8px;
}

/* Card */
.card_small {
  border: 0.1rem #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 1rem;
  margin: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.card_extended {
  max-width: sm;
  border-width: 1px;
  border-radius: lg;
  overflow: "hidden";
  border: 0.1rem #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 1rem;
  margin: 0.5rem;
  flex-direction: column;
  align-items: center;
  /* max-width: "70%"; */
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border: 1px solid #272727;
  color: #1485a7;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #1485a7;
  background: #272727;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.footer {
  background-color: #280f88;
  color: white;
  text-align: center;
  padding: 2em 0 0.5em;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}
